*{
 margin: 0;
 padding: 0; 
}
body{
  background-color: #fafbfe
}

.navparent{
  background-color: white;
  border:1px solid rgb(239,240,243);
  box-shadow: 0px 3px 15px #00000000;

}
.parentdiv{
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vh;
}
.ArchitectDesign{
  background-color: white;

}
.accept{
  background-color: rgb(187,254,181);
  outline: none;
  border: none;
  border-radius: 3px;

}

.apply{
  background-color: rgb(242,107,92);
  outline: none;
  border: none;
  border-radius: 20px;
  color: white;
  width: 20vw;
  padding: 5px;
}
.smbtn{
  outline: none;
  border: none;
  border-radius: 20px;
  
}
ul{
  padding-left: 1.5em;
}
button{
  transition: all 1s;
}
button:hover{
  box-shadow: 0 0 5px rgba(15,15,15.26);
  transform: translateY(-0.7vmax);
}